{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
	  "parser": {
		"syntax": "typescript",
		"tsx": false,
		"decorators": true,
		"dynamicImport": false
	  },
	  "transform": {
		"legacyDecorator": true
	  },
	  "target": "es5",
	  "loose": false,
	  "externalHelpers": false
	},
	"minify": false
  }
